# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  helpscout:
    enabled: <%= !ENV["HELP_SCOUT_BEACON_ID_MAIN"].blank? %>
    main: <%= ENV["HELP_SCOUT_BEACON_ID_MAIN"] %>
    fallback: <%= ENV["HELP_SCOUT_BEACON_ID_FALLBACK"] %>
  omniauth:
#    facebook:
#      # It must be a boolean. Remember ENV variables doesn't support booleans.
#      enabled: false
#      app_id: <%= ENV["OMNIAUTH_FACEBOOK_APP_ID"] %>
#      app_secret: <%= ENV["OMNIAUTH_FACEBOOK_APP_SECRET"] %>
#    twitter:
#      enabled: false
#      api_key: <%= ENV["OMNIAUTH_TWITTER_API_KEY"] %>
#      api_secret: <%= ENV["OMNIAUTH_TWITTER_API_SECRET"] %>
#    google_oauth2:
#      enabled: false
#      icon_path: decidim/brands/google.svg
#      client_id: <%= ENV["OMNIAUTH_GOOGLE_CLIENT_ID"] %>
#      client_secret: <%= ENV["OMNIAUTH_GOOGLE_CLIENT_SECRET"] %>
    publik:
       enabled: false
  geocoder:
    here_api_key: <%= ENV["GEOCODER_API_KEY"] %>
  maps:
    api_key: <%= ENV["GEOCODER_API_KEY"] %>
  etherpad:
    server: <%= ENV["ETHERPAD_SERVER"] %>
    api_key: <%= ENV["ETHERPAD_API_KEY"] %>
    api_version: "1.2.1"

development:
  <<: *default
  secret_key_base: 339cee63da55cb00913f8b1cec0da7f52dc97af0b584dcedd58926b118261c5fb98698237bc859cf229c57454fffff91335fc6a843c1827887ddb48cfc4edfa1
  omniauth:
    developer:
      enabled: true
      icon: phone

test:
  <<: *default
  secret_key_base: 679ff38d689a6f305b838474ad50f1f2c6cf7f7d03bb90edb1135d38baea2ff39372243f00274fe702c98588c8abcff0e5a56e5d52eae14753c66f6ff04b1ed5
  omniauth:
    facebook:
      enabled: true
      app_id: fake-facebook-app-id
      app_secret: fake-facebook-app-secret
    twitter:
      enabled: true
      api_key: fake-twitter-api-key
      api_secret: fake-twitter-api-secret
    google_oauth2:
      enabled: true
      client_id:
      client_secret:

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *default
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  smtp_username: <%= ENV["SMTP_USERNAME"] %>
  smtp_password: <%= ENV["SMTP_PASSWORD"] %>
  smtp_address: <%= ENV["SMTP_ADDRESS"] %>
  smtp_domain: <%= ENV["SMTP_DOMAIN"] %>
  smtp_port: "587"
  smtp_starttls_auto: true
  smtp_authentication: "plain"
